
name: build
on:
  push:
    branches: [ "**" ]       # build on any branch
  workflow_dispatch: {}


permissions:
  pull-requests: write
  contents: write

jobs:
  # ---------------------------------------------------------
  # Build four container images (matrix) and push to GHCR
  # ---------------------------------------------------------
  build-containers:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        websrv: ['apache2', 'nginx']
        dbhandler: ['wsgi', 'django']

    steps:
      - uses: actions/checkout@v4

      - name: "Build container"
        run: |
          echo "build container for websrv=${{ matrix.websrv }} dbhandler=${{ matrix.dbhandler }}"
          echo "runid: ${{ github.run_id }}"
          echo "ref_name: ${{ github.ref_name }}"
          echo "sha: ${{ github.sha }}"

        shell: bash

  build-rpm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: "Build RPM package"
        run: |
          echo "build rpm package"
          echo "runid: ${{ github.run_id }}"
          echo "ref_name: ${{ github.ref_name }}"
          echo "sha: ${{ github.sha }}"
        shell: bash

  build-deb:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: "Build DEB package"
        run: |
          echo "build deb package"
          echo "runid: ${{ github.run_id }}"
          echo "ref_name: ${{ github.ref_name }}"
          echo "sha: ${{ github.sha }}"
        shell: bash

  # ---------------------------------------------------------
  # Dispatch tests with full payload (branch/ref-safe)
  # ---------------------------------------------------------
  dispatch-tests:
    runs-on: ubuntu-latest
    needs: [ build-containers, build-rpm, build-deb ]
    permissions:
      contents: read
      actions: read
      deployments: write

    steps:

      - name: Dispatch repository event
        uses: peter-evans/repository-dispatch@v4
        with:
          token: ${{ secrets.GH_WF_TOKEN }}
          event-type: artifacts_ready
          client-payload: >-
            {
              "sha":        "${{ github.sha }}",
              "branch":     "${{ github.ref_name }}",
              "full_ref":   "${{ github.ref }}",
              "run_id":     "${{ github.run_id }}",
              "called_by_workflow": "${{ github.workflow }}"
            }
