
name: normal-workflow
on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch to run the workflow on'
        required: true
        default: 'main'
      run_id:
        description: 'Run ID of the producing workflow'
        required: true
        default: '0'
      sha:
        description: 'SHA of the commit to run the workflow on'
        required: true
        default: ''
      called_by_workflow:
        description: 'Name of the producing workflow'
        required: true
        default: 'manual-trigger'
      full_ref:
        description: 'Full git ref of the commit to run the workflow on'
        required: false
        default: ''


jobs:
  # (Optional) quick guard to validate incoming payload
  guard:
    runs-on: ubuntu-latest
    if: >
      ${{
        ${{ inputs.sha }} != '' &&
        ${{ inputs.run_id }} != '' &&
        ${{ inputs.branch }} != ''
      }}
    steps:
      - run: |
          echo "Triggered by SHA:    ${{ inputs.sha }}"
          echo "From branch:         ${{ inputs.branch }}"
          echo "Producer run_id:     ${{ inputs.run_id }}"

  # ---------------------------------------------------------
  # Job A: Test container images (matrix from payload)
  # ---------------------------------------------------------
  test-containers:
    needs: guard
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        websrv: ['apache2', 'nginx']
        dbhandler: ['wsgi', 'django']
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.client_payload.full_ref || github.event.client_payload.branch }}

      - name: "do some checks"
        run: |
          echo "test container for websrv=${{ matrix.websrv }} dbhandler=${{ matrix.dbhandler }}"
          echo "producer runid: ${{ github.event.client_payload.run_id }}"
          echo "payload ref_name: ${{ github.event.client_payload.branch }}"
          echo "ref_name: ${{ github.ref_name }}"
          echo "sha: ${{ github.event.client_payload.sha }}"
        shell: bash


